@model UniGuide.Models.Dicipline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dicipline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiciplineEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiciplineEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiciplineArb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiciplineArb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryEng)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
