@model UniGuide.Models.Degree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DegreeEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeArb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeArb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DegreeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
